body {
  font-family: Quicksand, sans-serif;
}

.bg-lines {
  background-image: url(/img/lines.svg);
  opacity: 0.07;
}

.is-active {
  position: relative;
}

.is-active::after {
  background-color: theme("colors.yellow");
  border-radius: 8px;
  bottom: 0;
  content: "";
  height: 4px;
  left: 0;
  position: absolute;
  width: 50px;
  z-index: 1;
}

.outline-none-important {
  outline: none !important;
}

@media screen and (min-width: theme("screens.md")) {
  .md\:grid-rows-4-fixed {
    grid-template-rows: repeat(4, 171px);
  }
}

@media screen and (min-width: theme("screens.lg")) {
  .lg\:grid-rows-4-fixed {
    grid-template-rows: repeat(4, 234px);
  }
}

@media screen and (min-width: theme("screens.xl")) {
  .xl\:grid-rows-4-fixed {
    grid-template-rows: repeat(4, 298px);
  }
}

.with-rounded-fix::before {
  background-image: radial-gradient(transparent 6px, #f7f7f7 6px);
  background-position-x: -6px;
  background-repeat: no-repeat;
  content: "";
  display: block;
  height: 100%;
  left: -6px;
  position: absolute;
  top: 0;
  width: 12px;
  z-index: 2;
}
